<h2>Home</h2>

<p>Belphegor comes from the biblical name Baal-Peor, who is the God of the Moabites. The story is that when Israel owned the northeast corner of the plains of Moab, the Israelites would have illicit relations with the Moabite women and would sacrifice them to their god. Moses punished by death the Israelites who had sacrificed to Baal-Peor. The slaughter amounted to 24,000 deaths.</p>

<p>The band was on hold after their 2011 South American tour until May 2012 due to Helmuth going through a serious and difficult operation after being infected with typhoid fever.</p>
    
<p>Their lyrics are a mix of English, German and Latin.</p>
