<div *ngIf="album">
    <p>{{album.title}}</p>
    <p>Track list:</p>
    <ol>
        <li *ngFor="let track of album.songs">{{track.title}}</li>
    </ol>
    <img src="{{album.image}}" alt="{{album.title}}" width="400px" height="400px">
    <p>{{album.year}}</p>
    <a *ngIf="hasReviews else elseBlock" routerLink="/reviews/{{album.id}}" routerLinkActive="active">Reviews</a>
    <ng-template #elseBlock>No review yet!</ng-template>
</div>

<div *ngIf="isEditable">
    <mat-form-field appearance="fill">
        <mat-label for="title">Title</mat-label>
        <input id="title" [(ngModel)]="editingItem.title" type="text" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label for="title">Year</mat-label>
        <input id="title" [(ngModel)]="editingItem.year" type="text" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label for="image">Image path</mat-label>
        <input id="image" type="text"  [(ngModel)]="editingItem.image" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="songs">Add a song</mat-label>
        <input id="songs" type="text" [(ngModel)]="crtSong" matInput>
      </mat-form-field>
    
      <button (click)="addSong()" mat-button>Add song</button>
      <ol *ngIf="songs">
        <li *ngFor="let song of songs"><app-song [title]="song.title" (deleteSongEvent)="deleteSong($event)" (editSongEvent)="editSong($event)"></app-song></li>
      </ol>

  </div>

  <div *ngIf= isInEditMode()>
    <button (click)="edit()" mat-button>edit</button>
    <button (click)="delete()" mat-button>delete</button>
  </div>
